 


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Mobile</th>
             <th>Telephone</th>
            <th>Email Address</th>
        </tr>
    </thead>
    
    <tbody data-bind="foreach: staffMembers">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: firstName() + ' ' + surname()"></td>
            <td data-bind="text: mobile"></td>
            <td data-bind="text: telephone"></td>
            <td data-bind="text: emailAddress"></td>
        </tr>
    </tbody>

</table>



@section scripts
{
     
    <script src="~/scripts/app/staff_main.js" type="text/javascript"></script>

}
